/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr';

@mixin left-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-container {
  padding: 2rem;
}

.form-vertical {
  display: flex;
  flex-direction: column;
}

.form-field {
  width: 60%;
}

.buttons-cell {
  width: 120px;
}

.table-header {
  .table-header--left-pane {
    @include left-align;
  }
}

.left-align {
  @include left-align;
}

table {
  width: 100%;
}
