<div *ngIf="isEdit; else newRecord">
  <h2>Edit user</h2>
</div>

<ng-template #newRecord>
  <h2>New user</h2>
</ng-template>

<div class="left-align">
  <button mat-icon-button (click)="onCancel()" [disabled]="false">
    <mat-icon>close</mat-icon>
  </button>
</div>

<div [formGroup]="form" class="form-vertical">
  <mat-form-field class="form-field">
    <input
      matInput
      [placeholder]="'Email'"
      formControlName="email"
      type="email"
      required
    />
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput [placeholder]="'First name'" formControlName="firstName" />
  </mat-form-field>

  <mat-form-field class="form-field">
    <input matInput [placeholder]="'Last name'" formControlName="lastName" />
  </mat-form-field>
</div>

<div class="left-align">
  <button
    mat-raised-button
    (click)="onCancel()"
    [disabled]="false"
    cdkFocusInitial
  >
    Cancel
  </button>

  <button
    mat-raised-button
    (click)="onConfirm()"
    [disabled]="form.invalid || form.pristine"
  >
    Save
  </button>
</div>
